
.result-box {
   width: 400px;
   height: 500px;
   background-color: black;
   border-radius: 10%;
   margin-top: 130px;
   margin-left: 400px;
   display: flex;
}

.circle {
   width: 200px;
   height: 200px;
   border-radius: 50%;
   color: #ffffff;
   font-size: 80px;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 80px;
   margin-left: 100px;
   background: linear-gradient(blue, pink);
}