
.result-box {
   width: 400px;
   height: 500px;
   background: linear-gradient(#E95793, #DA0C81);
   border-radius: 10%;
   margin-top: 130px;
   margin-left: 400px;
   color: #ffffff;
   font-size: 8px;
   display: flex;
   flex-direction: column;
   box-shadow: 0 8px 15px rgba(218, 12, 129, 0.9)
}

h1{
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
}



.circle {
   width: 200px;
   height: 200px;
   border-radius: 50%;
   color: #ffffff;
   margin-left: 100px;
   background: #C21292;
   margin-top: 30px;
   display: flex;
   flex-direction: column;
   text-align: center;
}

.marks{
    font-size: 80px;
    margin-top: 40px;
}

.total-score{
    font-size: 20px;
    margin-top: 10px;
}
.great{
    margin-top: 30px;
    font-size: 40px;
    text-align: center;
}

.result-stats{
    font-size: 21px;
    text-align: center;
    margin-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
}


.summary-box{
   width: 400px;
   height: 500px;
   background-color: white;
   border-radius: 10%;
   margin-top: 130px;
   color: #ffffff;
   font-size: 8px;
   display: flex;
   flex-direction: column;
   text-align: left;
   font-size: 30px;
   box-shadow: 0 8px 15px rgba(218, 12, 129, 0.4)
}

body{
    display: flex;
}

.summary{
    margin-left: 50px;
    margin-top: 20px;
    color: black;
}

.numbers{
    margin-top: 30px;
}

.reaction{
   width: 300px;
   height: 60px;
   background-color: #ff3c3c1f;
   margin-left: 50px;
   border-radius: 20px;
   display: flex;
}

.memory{
   width: 300px;
   height: 60px;
   background-color: #ffc8112b;
   margin-left: 50px;
   margin-top: 15px;
   border-radius: 20px;
   display: flex;
}

.verbal{
   width: 300px;
   height: 60px;
   background-color: #00ff8021;
   margin-left: 50px;
   margin-top: 15px;
   border-radius: 20px;
   display: flex;
}

.visual{
   width: 300px;
   height: 60px;
   background-color: #0016ed26;
   margin-left: 50px;
   margin-top: 15px;
   border-radius: 20px;
   display: flex;
}

icon img {
  margin-left: 30px;
  margin-top: 20px;
  transform: scale(1.5); /* Adjust the scaling factor as needed */
}

.reaction-text{
    color: red;
    text-align: center;
    font-size: 25px;
    margin-top: 15px;
    margin-left: 20px;
}


.memory-text{
    color: orange;
    text-align: center;
    font-size: 25px;
    margin-top: 15px;
    margin-left: 20px;
}

.verbal-text{
    color: #008170;
    text-align: center;
    font-size: 25px;
    margin-top: 15px;
    margin-left: 20px;
}

.visual-text{
    color: blue;
    text-align: center;
    font-size: 25px;
    margin-top: 15px;
    margin-left: 20px;
}

.marks-obtained{
    color: black;
    font-size: 25px;
    margin-top: 15px;
    margin-left: 30px;
}

.total-marks{
    color: black;
    font-size: 25px;
    margin-top: 15px;
    margin-left: 10px;
}

.button input[type="button"] {
  width: 300px; /* Adjust the width as needed */
  height: 60px; /* Adjust the height as needed */
  margin-top: 40px;
  margin-left: 50px;
  border-radius: 80px;
  font-size: 25px;
  background-color: #323538;
  color: #fff;
  transition: background-color 0.3s ease;
}

.button input[type="button"]:hover {
  /* Change the background color of the button on hover */
  background-color: #da0c81;
}